<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Prognoza pogody</title>
</head>
<body>
    <div style="text-align: center;">
        <form action="/" method="post">
            <input th:name="city" placeholder="Podaj miasto">
            <input type="submit" value="Pokaż pogodę">
        </form>
        <div>
            <h2>Pogoda dla miasta: <span th:text="${city}"></span></h2>
            <h4>Temperatura: <span th:text="${temperature}"></span></h4>
            <h4>Ciśnienie: <span th:text="${pressure}"></span></h4>
            <h4>Zachmurzenie: <span th:text="${humidity}"></span></h4>
            <!--<h4>Adress IP: <span th:text="${ipAdress}"></span></h4>-->
        </div>
    </div>
</body>
</html>